USE [master]
GO
/****** Object:  Database [partOne]    Script Date: 10/01/2021 22:11:15 ******/
CREATE DATABASE [partOne]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'partOne', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\partOne.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'partOne_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\partOne_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [partOne].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [partOne]
GO
/****** Object:  Table [dbo].[Cars]    Script Date: 10/01/2021 22:11:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cars](
	[IDCar] [bigint] IDENTITY(1,1) NOT NULL,
	[Manufacture] [nvarchar](50) NULL,
	[Model] [nvarchar](50) NULL,
	[Year] [int] NULL,
 CONSTRAINT [PK__Cars__3214EC2768FC3136] PRIMARY KEY CLUSTERED 
(
	[IDCar] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tests]    Script Date: 10/01/2021 22:11:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tests](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Car_Id] [bigint] NOT NULL,
	[IsPassed] [bit] NULL,
	[Date] [datetime] NULL,
 CONSTRAINT [PK_Tests] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [index_test]    Script Date: 10/01/2021 22:11:16 ******/
CREATE UNIQUE NONCLUSTERED INDEX [index_test] ON [dbo].[Tests]
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Tests]  WITH CHECK ADD  CONSTRAINT [FK_Tests_cars] FOREIGN KEY([Car_Id])
REFERENCES [dbo].[Cars] ([IDCar])
GO
ALTER TABLE [dbo].[Tests] CHECK CONSTRAINT [FK_Tests_cars]
GO
ALTER TABLE [dbo].[Tests]  WITH CHECK ADD  CONSTRAINT [FK_Tests_Tests] FOREIGN KEY([ID])
REFERENCES [dbo].[Tests] ([ID])
GO
ALTER TABLE [dbo].[Tests] CHECK CONSTRAINT [FK_Tests_Tests]
GO
USE [master]
GO
